/* *******  SEARCH  GIFS ********    */

.resultados {
    background-color: var(--background_general);
    text-align: center;
  }
  
  .resultados .linea {
    background-color: var(--linea);
    width: 157px;
    margin: auto;
    height: 1px;
  }
  
  #titulo-resultados {
    text-transform: capitalize;
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--purpura);
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    padding: 43px 0 38px 0;
  }
  
   .d-sinresultados {
    text-align: center;
  }
  
  .img-sinresultados {
    margin-top: 71px;
    margin-bottom: 29px;
    width: 80px;
    height: 80px;
  }
  
  .text-sinresultados {
    padding-bottom: 129px;
    color: var(--turquesa);
    font-size: 22px;
    line-height: 25px;
  }
  
  .container-search{
    display: flex;
    justify-content: center;
  }
  
  .resultados-gifs {  
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90vw; 
  }
  .card-search{
    width:132px;
    height:120px;
    margin: 5px 3px 5px 3px;
  }
  
  .card-opciones-search{
    width:132px;
    height:120px;
    text-align: left;
    display: none;      
    position: absolute;
    z-index: 1;   
  }
  #btn-vermas {
    margin-top: 28px;
    margin-bottom: 38px;
    background: none;
    border-radius: 25px;
    border: 1px solid var(--purpura);
    width: 127px;
    height: 50px;
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--purpura);
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
  }
  
  #btn-vermas:hover {
    background-color: var(--purpura);
    color: var(--botones);
  }
  
  .card-img-search {
    width: 100%;
    height: 100%;   
    object-fit: cover;      
  }


  @media (min-width: 750px) {
    .card-search:hover .card-opciones-search{
      display: block;
      background-color: rgba(114, 8, 252, 0.7);
    } 
    .card-search{
      width:170px;
      height:130px;  
    }  
    .card-opciones-search{
      width:170px;
      height:130px;  
    }
    .resultados-gifs{
      width: 70vw;
      max-width: 750px;
    }
    .option-description {
      position: absolute;
      left: 7.5px;
      bottom: 20px;
    }   
     .user {
      font-size: 9px;
    }
     .titulo {
      font-size: 12px;
      font-weight: 700;
    }
  }
  