.myGifs_list{
    padding-top: 15px;
    background-color: var(--background_general);
    text-align: center;
    min-height: 260px;
}
.myGifs_list h2 {    
    font-family: "Montserrat", sans-serif;
    color: var(--purpura);
    font-size: 25px;
    font-weight: 600;        
    padding: 7px 0 26px 0;
  }
  
  .myGifs_empty img {
    height: 100px;
    width: 100px;
  }
  
   .myGifs_empty h3 {
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--turquesa);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin: auto;
    padding-bottom: 100px;
  }
  .myGifs_container{
      display: flex;
      justify-content: center;
  }
   .myGifs_gifs {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90vw;
    padding-bottom: 25px;   
  }
  
  .myGif_card {
    width:132px;
    height:120px;
    margin: 5px 3px 5px 3px;
  }
  
  .myGif_card img {
    height: 100%;
    width: 100%;
    object-fit: cover;   
  }
  .myGif_card-options{    
    display: none;    
  }


  @media (min-width: 750px) {
  .myGifs_gifs{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70vw;       
    max-width: 750px;
    }
  .myGif_card {
    width:170px;
    height:130px;   
  }
  .myGif_card-options{
    width:170px;
    height:130px;  
    text-align: left;
    display: none;      
    position: absolute;
    z-index: 1;  
  }
  .options-gif {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 10px;
  }  
  
  .myGif_card:hover .myGif_card-options {
    display: block;
    background-color: rgba(114, 8, 252, 0.7);
  }
  .option-description {
    position: absolute;
    left: 7.5px;
    bottom: 20px;
  }   
   .user {
    font-size: 9px;
  }
   .titulo {
    font-size: 12px;
    font-weight: 700;
  }
}