/* *******  SEARCH  GIFS ********    */

.resultados {
  background-color: var(--background_general);
  text-align: center;
}

.resultados .linea {
  background-color: var(--linea);
  width: 157px;
  margin: auto;
  height: 1px;
}

#titulo-resultados {
  text-transform: capitalize;
  letter-spacing: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--purpura);
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  padding: 43px 0 38px 0;
}

 .d-sinresultados {
  text-align: center;
}

.img-sinresultados {
  margin-top: 71px;
  margin-bottom: 29px;
  width: 80px;
  height: 80px;
}

.text-sinresultados {
  padding-bottom: 129px;
  color: var(--turquesa);
  font-size: 22px;
  line-height: 25px;
}

.container-search{
  display: flex;
  justify-content: center;
}

.resultados-gifs {  
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90vw; 
}
.card-search{
  width:132px;
  height:120px;
  margin: 5px 3px 5px 3px;
}

.card-opciones-search{
  width:132px;
  height:120px;
  text-align: left;
  display: none;      
  position: absolute;
  z-index: 1;   
}
#btn-vermas {
  margin-top: 28px;
  margin-bottom: 38px;
  background: none;
  border-radius: 25px;
  border: 1px solid var(--purpura);
  width: 127px;
  height: 50px;
  letter-spacing: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--purpura);
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}

#btn-vermas:hover {
  background-color: var(--purpura);
  color: var(--botones);
}


@media (min-width: 750px) {
  .card-search:hover .card-opciones-search{
    display: block;
    background-color: rgba(114, 8, 252, 0.7);
  } 
  .card-search{
    width:170px;
    height:130px;  
  }  
  .card-opciones-search{
    width:170px;
    height:130px;  
  }
  .resultados-gifs{
    width: 70vw;
    max-width: 750px;
  }
  .option-description {
    position: absolute;
    left: 7.5px;
    bottom: 20px;
  }   
   .user {
    font-size: 9px;
  }
   .titulo {
    font-size: 12px;
    font-weight: 700;
  }
}


/* *******  TRENDING ********    */



.trending {
    background-color: var(--background_trending);
    text-align: center;
    color: var(--purpura);
    padding-bottom: 22px;
  }
  
  .btn-box {
    display: none;
  }
  
  .trending h2 {
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--purpura);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 46px;
    margin-bottom: 7px;
  }
  
  .trending-text {
    letter-spacing: 0;
    font-family: "Roboto", sans-serif;
    color: var(--negro);
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    padding: 9px 100px;
  }
  
  .contenedor-trending {
    height: 187px;
    background: none;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;   
  }
  
  .contenedor-cards {   
    display: inline-flex;
    touch-action: none;
    margin-left: 22px;
  }
  
   .card {
    width: 200px;
    height: 157px;
    background: none;
    margin-right: 22px;    
    position:relative;
  }
  
   .card-img{
    position:relative;
    height: 100%;
    width: 100%;   
    object-fit: cover;   
  }
  
  .card-opciones {
    display: none;
    z-index: 1;
  }
  
  @media (min-width: 750px) {
    .trending p {
      font-size: 18px;
    }
    .contenedor-trending {
      height: 275px;
      max-width: 850px;
    }
    .card {
      width: 267px;
      height: 215px;
      margin-right: 29px;
    }
     .card-opciones {
      text-align: left;
      display: none;
      width: 267px;
      height: 215px;
      position: absolute;      
    
    }
    .opciones-gif {   
      display: flex;      
      justify-content: flex-end;
      position: absolute;
      right: 10px;
      top: 10px;
    }
     .opcion-button {
      width: 32px;
      height: 32px;
      opacity: 0.6;
      background-color: white;
      border-radius: 6px;
      margin-left: 11px;
      cursor:pointer;
    }
   
    .opcion-button:hover {
      opacity: 1;      
    }
    .trending-description {
      position: absolute;
      left: 18.5px;
      bottom: 51px;
    }
     .description {
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
      color: white;
    }
     .userTrending {
      font-size: 16px;
    }
     .tituloTrending {
      font-size: 18px;
      font-weight: 700;
    }
    .card:hover .card-opciones {
      display: block;
      background-color: rgba(114, 8, 252, 0.7);
    } 
  
    .btn-box {         
      cursor: pointer;      
      display: block;
      border: 1px solid var(--purpura);
      color: var(--purpura);
      background: var(--botones);      
      font-size: 26px;
      position: absolute;
      width: 40px;
      height: 40px;      
      margin-top: 135px;     
    }
    .btn-box:hover {
      border: 1px solid var(--barramenu);
      color: var(--blanco);
      background: var(--purpura);
    }
      
    .trending .anterior {
      left: 4%;
    }
    .trending .siguiente {
      right: 4%;
    }
    .trending .contenedor-trending {     
      align-items: center;    
      display: flex;
      margin: 2rem auto;
      overflow: hidden;
      position: relative;
      width: 80%;
    }
    .trending .contenedor-trending .contenedor-cards {      
      display: flex;           
    }
     .card-img {
      height: 100%;
      width: 100%;    
      object-fit: cover;      
    }
  }
  @media (min-width: 1240px) {
    .trending .anterior {
      left: 13%;
    }
    .trending .siguiente {
      right: 12%;
    }
  }

/* *******  MAXIMIZE ********    */
  
.maximizado {
  position: fixed;  
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--blanco);  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;  
}

.maximizado .close-button {
  background: none;
  position: absolute;
  right: 9.8%;
  top: 20%;
  cursor: pointer;
}

.img-maximizado {
  width: 84.8%;
  height: 37.5%;
  object-fit: cover;
}

.maximizado article {
  margin-top: 2.9%;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  width: 84.8%;
  display: flex;
  justify-content: space-between;
}

.maximizado article p {
  margin-bottom: 0;
}

.maximizado article .titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.maximizado-buttons{
  display: flex;  
  flex-direction: row;
  width:107px;
  justify-content: space-between;
}
.max-button {  
  border: none;  
  width: 36px;
  height: 36px;  
  border-radius: 6px;
  background: white;
  cursor: pointer;
}
.max-button-remove{  
  width: 62px;
  height: 36px;  
  border-radius: 6px;
  background: rgb(231, 4, 4);
  color:white;
  cursor: pointer;
}
.maximizado article button img {
    object-fit: cover;
}
@media (min-width: 700px) {

  .img-maximizado {
    width: 58%;
    height: 60%;    
  }
  .maximizado article {    
    width: 55%;    
  }
  .maximizado .close-button {
    right: 22%;
    top: 9%;    
  }
}

/* *******  HIDDEN ********    */
.hidden {
  display: none;
}